<div class="col">
  <div class="row m-3">
    <div class="col-md-7 p-0">
<h1>Liste des utilisateurs</h1>
    </div>
    <div class="col-md-5 text-right">
  <app-button-action
  (clickEvent)="nouvelleUtilisateur()"></app-button-action>
    </div>
  </div>
  <div class="col m-3">
<app-detail-utilisateur></app-detail-utilisateur>
<app-detail-utilisateur></app-detail-utilisateur>
<app-detail-utilisateur></app-detail-utilisateur>
<app-detail-utilisateur></app-detail-utilisateur>
<app-detail-utilisateur></app-detail-utilisateur>
<app-detail-utilisateur></app-detail-utilisateur>
<app-detail-utilisateur></app-detail-utilisateur>
<app-detail-utilisateur></app-detail-utilisateur>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>

  </div>

</div>

